@import "../content_section";
@include section-four-steps-content;

//step 2

.content-main-step2
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  label
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-weight: 300;
    cursor: pointer;
  }

  select
  {
    width: 300px;
    height: 50px;
    font-family: $font-base;
    font-size: 1.7rem;
    font-weight: 300;
    margin-left: 20px;
    padding-left: 20px;
    background: none;
    border: 1px solid $color-font;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
    cursor: pointer;

    option
    {
      background: $color-background-alt;
    }

  }

  select::-ms-expand {
    display: none;
  }

  select:focus
  {
    background: none;
  }

  i
  {
    position: absolute;
    right: 30px;
    z-index: 1;
  }

}
