@import "../../../main";


.section-four-steps-panel-info-bar
{
  height: 180px;
  background: $color-contrast;
  position: relative;
  z-index: 4;

  .info-bar
  {
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;

    h3
    {
      padding-bottom: 1rem;
    }
  }
}