@import "../../../main";

.content-main-thanks
{
  width: 50%;
  height: 880px;;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;

  p
  {
    font-family: $font-base;
    font-size: 2.8rem;
    text-align: center;
    line-height: 4rem;
  }

}
