@import "../settings/colors";
@import "../settings/fonts";

.main
{
  display: flex;
  width: 100%;
  height: 800px;
  position: relative;

  .main-background
  {
    display: flex;
    height: inherit;
    width: 40%;
  }

  .main-background::after
  {
    content: "";
    display: flex;
    height: 115%;
    width: 87%;
    background: url("../../assets/Home-Hero-Image.jpg") no-repeat bottom/cover;
    position: absolute;
    bottom: 0;
    right: 60%;

  }

  .main-info
  {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 80px;

    .main-info-text
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      letter-spacing: -0.76px;
    }

    .main-info-img
    {
      margin: 0.5rem 0 4rem 0;
      height: 2.4rem;
      width: 18rem;
      background: url("../../assets/Decoration.svg") no-repeat center/cover;
    }
  }
}

.main-info-btns
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-info-btn
  {
    padding: 0 50px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
}